<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mm.sdkdemo">

    <uses-sdk tools:overrideLibrary="com.mm.recordsdk, com.momo, com.immomo.moment, com.example.baseutil,com.core.glcore,project.android.imageprocessing,com.example.ffmpeg,com.imomo.momo.mediamuxer,com.imomo.momo.mediaencoder,com.momo.xeengine,com.immomo.mmopenssl" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.mm.sdkdemo.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mm.sdkdemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mm.sdkdemo.recorder.activity.VideoRecordAndEditActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mm.sdkdemo.recorder.activity.ImageEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".imagecrop.ImageCropActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".local_music_picker.view.MusicPickerActivity" />
        <activity android:name="com.mm.sdkdemo.recorder.activity.RecordParamSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name="com.mm.sdkdemo.recorder.activity.VideoCutActivity" />
        <activity android:name="com.mm.sdkdemo.recorder.activity.VideoSpeedAdjustActivity" />
        <activity android:name="com.mm.sdkdemo.recorder.activity.SelectMomentCoverActivity" />
        <activity android:name="com.function.FunctionListActivity" />
        <activity android:name="com.function.takephoto.TakePhotoTestActivity" />
        <activity android:name="com.function.recordvideo.VideoRecordTestActivity" />
        <activity android:name="com.function.videoprocess.VideoProcessTestActivity" />
        <activity android:name="com.function.imageprocess.ImageProcessTestActivity" />

        <!-- 播放器相关 -->
        <activity android:name=".player.PrePlayActivity" />
        <activity android:name=".player.PlayListActivity" />
        <activity android:name=".player.PlayerActivity" />
    </application>

</manifest>