<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mm.sdkdemo">

    <uses-sdk tools:overrideLibrary="com.momo.momomediaext,com.immomo.momomedia,com.immomo.mmutil,com.mm.recordsdk, com.momo, com.immomo.moment, com.example.baseutil,com.core.glcore,project.android.imageprocessing,com.example.ffmpeg,com.imomo.momo.mediamuxer,com.imomo.momo.mediaencoder,com.momo.xeengine,com.immomo.mmopenssl" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChooseMediaParamSettingActivity"></activity>
        <activity android:name=".GotoTestActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".RecordParamSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <activity android:name="com.function.FunctionListActivity" />
        <activity android:name="com.function.takephoto.TakePhotoTestActivity" />
        <activity android:name="com.function.recordvideo.VideoRecordTestActivity" />
        <activity android:name="com.function.videoprocess.VideoProcessTestActivity" />
        <activity android:name="com.function.imageprocess.ImageProcessTestActivity" /> <!-- 播放器相关 -->

    </application>

</manifest>